rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /articles/{articleId} {
      allow read: if true;
      allow write: if true;
    }
    match /gap-reports/{reportId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
